@mixin responsive-mobile {
    @media screen and (min-width: $breakpoint-mobile) {
        @content
    }
}

@mixin responsive-tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin responsive-custom($max-width) {
    @media screen and (max-width: $max-width) {
        @content;
    }
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive-media-m {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin responsive-media-l {
    @media screen and (max-width: 1150px) {
        @content;
    }
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-link($padding: 2rem, $font-size: $indent__l) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
  font-size: $font-size;
  text-decoration: none;
  color: white;
  border: solid 1px #DFB97C;
  text-transform: uppercase;
}

@mixin heading($size) {
  font-size: $size;
  color: white;
  text-transform: uppercase;
}

@mixin overlay-heading {
  position: absolute;
  border-radius: 15px;
  background-color: black;
  padding: 15px 42px;
  color: white;
  text-transform: uppercase;
}
