credits-section {
  background: url('../../../public/Lamp1.png') no-repeat center center;
  background-size: cover;
  padding: 5rem 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}