.header {
    background-color: black;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: end;
        height: 44px;
    }
}