@import '../../styles/mixins';

.header {
    position: fixed;
    z-index: 10;
    background-color: black;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include responsive-custom("768px") {
        justify-content: end;
    }
}